.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Links styles */
.App__nav {
  padding-top: 4px;
}
/* ul in .App__nav */
.App__nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.App__nav ul > li {
  display: inline-block;
}
.App__nav ul > li:not(:last-child) {
  margin-right: 12px;
}
.App__nav ul > li a {
  color: darkslateblue;
}
.App__nav ul > li a:not(:hover) {
  text-decoration: none;
}
